.Tlistmaincontainer {
    position: fixed;
    top: 140px;
    left: 255px;
    height: 100%;
    width: 100%;
    background-color: #16202A;
}

.listoftasks {
    position: absolute;
    top: 45px;
    left: 35px;
    height: 69%;
    width: 78%;
    background-color: #16202A;
    overflow-y: scroll;
}

.task {
    position:relative;
    /* top: 45px; */
    /* left:35px; */
    border-radius: 25px;
    padding: 5px 30px;
    background-color: #2F4052;
    color: #FFFDD0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 550px;
    height: 45px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.task:hover {
    background-color: #808080;
}

.CheckBox {
    position: absolute;
    top: 12px;
    left: 500px;
    border: none;
    outline: none;
}

.allocationbutton {
    position:relative;
    /* top: 45px; */
    /* left:35px; */
    border-radius: 25px;
    padding: 5px 30px;
    background-color: #2F4052;
    color: #2EEE9D;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 105px;
    height: 30px;
    text-align: left;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.allocationbutton:hover {
    background-color: #808080;
}

.deallocationbutton {
    position:relative;
    /* top: 45px; */
    /* left:35px; */
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #2F4052;
    color: #ED2939;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 105px;
    height: 30px;
    text-align: left;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 18px;
    transition: all 0.3s ease;

}

.deallocationbutton:hover{
    background-color: #808080;
}